[submodule "external/oclint"]
	path = external/oclint
	url = https://github.com/oclint/oclint.git
[submodule "external/cppcheck"]
	path = external/cppcheck
	url = https://github.com/danmar/cppcheck.git
